<h1 class="display-4">Welcome to Pick a POI</h1>
<p class="lead">Pick a POI is a food picker application for Appxplorers, all worker need to have lunch
  everyday. You can add your favourite type of foods, and famous food street around Kuala Lumpur.
</p>